html {
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout-wrapper {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex-grow: 1;
  position: relative;
}

.container-fluid {
  @apply w-screen;
}

a {
  text-decoration: none;
  outline: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}
