/*! purgecss start ignore */

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

html {
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrapper {
  flex-grow: 1;
  position: relative;
}

.container-fluid {
  @apply w-screen;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}
/*! purgecss end ignore */
