/*! purgecss start ignore */
@font-face {
  font-family: "Compact";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/compact/compact.ttf") format("truetype");
}

body {
  color: $primary !important;
  font-family: $font-famaly;
  font-size: 16px;
  line-height: 22px !important;
  font-weight: 500;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 34px;
  line-height: 40px;
}

h2 {
  font-size: 27px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary;
  margin: 0;
  padding: 0;
}

/*! purgecss end ignore */
