$primary: #131313;
$secondary: #ef8532;
$light-gray: #9f9f9f;
$text-gray: #9d9d9d;
$gray: #9d9d9d;
$footer-color: #575555;
$red-color: #ff1220;

$font-famaly: "Montserrat", "Roboto", Helvetica, sans-serif, Arial, "Compact";
