$font-stack: "Montserrat", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Цвета
$primary: #131313;
$secondary: #ef8532;
$light-gray: #9f9f9f;
$gray: #9495a6;
$footer-color: #575555;
$red-color: #ff1220;
